<h2 class="text-center" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">О Компании</h2>
<div class="banner" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1000" data-aos-mirror="false" data-aos-once="true">
  <div class="banner__image" style="background-image: url(images/content/main-page/block_5/img_1@2.jpg)"></div>
  <div class="banner__text-block">
    <h3 class="banner__title">One Shop - единый магазин доставки на дом и в офис продуктов, а также иных товаров первой необходимости.</h3>
    <p>Сделать заказ можно в личном кабинете или по бесплатному номеру телефона. Купить качественные и вкусные продукты, хозяйственные товары, организовать торжество дома или в офисе просто и удобно - нужно просто сделать заказ в One Shop!</p>
  </div>
</div>
