<div class="advantage-block">
  <div class="advantage-block__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
    <h2 class="advantage-block__title">Наши<br> преимущества</h2>
    <div class="advantage">
      <div class="advantage__image advantage__image--mid"><img src="images/content/main-page/block_6/img_2@2.jpg" alt=""></div>
      <p class="advantage__title">Мы выбираем только лучшие из&nbsp;них</p>
    </div>
  </div>
  <div class="advantage-block__item" data-aos="fade-right" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
    <div class="advantage">
      <div class="advantage__image advantage__image--big"><img src="images/content/main-page/block_6/img_1@2.jpg" alt=""></div>
      <p class="advantage__title">Любимые продукты для любимых клиентов</p>
    </div>
  </div>
  <div class="advantage-block__item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
    <div class="advantage">
      <div class="advantage__image advantage__image--small"><img src="images/content/main-page/block_6/img_3@2.jpg" alt=""></div>
      <p class="advantage__title">Огромный выбор всевозможных товаров</p>
    </div>
  </div>
</div>
