<div class="privilege-block">
  <div class="privilege-block__item" data-aos="fade-right" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
    <div class="privilege-block__title">
      <h2>Привилегии партнеров</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae lacus sollicitudin, molestie odio id, pulvinar tortor. Sed ac tristique lectus, vitae laoreet ligula. Donec luctus viverra neque nec luctus. Etiam venenatis nibh tellus.</p>
    </div>
    <a href="#">
      <figure class="privilege-image">
        <img src="images/content/main-page/block_4/img_1@2.jpg" alt="" />
        <figcaption class="privilege-image__caption">Транспортная программа</figcaption>
      </figure>
    </a>
  </div>
  <div class="privilege-block__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="500" data-aos-mirror="false" data-aos-once="true">
    <div class="privilege-cols">
      <div class="privilege-cols__col">
        <a href="#">
          <figure class="privilege-image privilege-image--small">
            <img src="images/content/main-page/block_4/img_2@2.jpg" alt="" />
            <figcaption class="privilege-image__caption">Спортивная программа</figcaption>
          </figure>
        </a>
        <a href="#">
          <figure class="privilege-image privilege-image--small">
           <img src="images/content/main-page/block_4/img_4@2.jpg" alt="" />
           <figcaption class="privilege-image__caption">Санаторно‑курортная программа</figcaption>
          </figure>
        </a>
      </div>
      <div class="privilege-cols__col">
        <a href="#">
          <figure class="privilege-image privilege-image--small">
            <img src="images/content/main-page/block_4/img_3@2.jpg" alt="" />
            <figcaption class="privilege-image__caption">Страхование жизни</figcaption>
          </figure>
        </a>
        <a href="#">
          <figure class="privilege-image privilege-image--small">
           <img src="images/content/main-page/block_4/img_5@2.jpg" alt="" />
           <figcaption class="privilege-image__caption">Профессиональное обучение</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>
