<div class="block-3 way">
  <div class="block-3__image"><img src="images/content/main-page/block_3/img_1@2.jpg" alt=""></div>
  <div class="block-3__text-block">
    <div class="block-3__description">
      <p class="way__pre-title">Направление</p>
      <h1 class="way__title">Топливная<br> программа</h1>
      <p class="way__text">Вместе с компанией OneShop Вы прикоснетесь к миру больших денег</p>
      <a class="button" href="#">Подробнее</a>
    </div>
    <div class="block-3__decor"><img src="images/content/main-page/block_3/img_2@2.jpg" alt=""></div>
  </div>
</div>
