<div class="block-2 way">
  <div class="block-2__images">
    <div class="block-2__image-1"><img src="images/content/main-page/block_2/img_1@2.jpg" alt=""></div>
    <div class="block-2__image-2"><img src="images/content/main-page/block_2/img_2@2.jpg" alt=""></div>
  </div>
  <div class="block-2__text-block">
    <div class="block-2__description">
      <p class="way__pre-title">Направление</p>
      <h2 class="way__title">Товары</h2>
      <p class="way__text">Мы провели огромную работу - ради одной цели. И эта цель - Сделать так, чтобы Вы были уверенны в том, что попадает к Вам на стол</p>
      <a class="button" href="#">Подробнее</a>
    </div>
    <div class="block-2__decor"><img src="images/content/main-page/block_2/img_3@2.jpg" alt=""></div>
  </div>
</div>
