<div class="articles-columns">
    <div class="articles-columns__column">
        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>

        <div class="article_1">
            <a class="article_1__link" href="#">
                <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_1__date">23 Февраля 2022, 16:51</span>
            </a>
        </div>
    </div>

    <div class="articles-columns__column">
        <h3>Репортажи</h3>

        <a class="article_3" href="#">
            <span class="article_3__image">
                <img src="images/content/articles/img_3.jpg" alt="">
            </span>
            <span class="article_3__text">
                <span class="article_3__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_3__date">23 Февраля 2022, 16:51</span>
            </span>
        </a>

        <a class="article_3" href="#">
            <span class="article_3__image">
                <img src="images/content/articles/img_3.jpg" alt="">
            </span>
            <span class="article_3__text">
                <span class="article_3__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_3__date">23 Февраля 2022, 16:51</span>
            </span>
        </a>

        <a class="article_3" href="#">
            <span class="article_3__image">
                <img src="images/content/articles/img_3.jpg" alt="">
            </span>
            <span class="article_3__text">
                <span class="article_3__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_3__date">23 Февраля 2022, 16:51</span>
            </span>
        </a>

        <a class="article_3" href="#">
            <span class="article_3__image">
                <img src="images/content/articles/img_3.jpg" alt="">
            </span>
            <span class="article_3__text">
                <span class="article_3__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_3__date">23 Февраля 2022, 16:51</span>
            </span>
        </a>
    </div>

    <div class="articles-columns__column">
        <div class="articles-columns__articles-list">
            <h3>Анонсы событий</h3>

            <div class="article_1">
                <a class="article_1__link" href="#">
                    <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                    <span class="article_1__date">23 Февраля 2022, 16:51</span>
                </a>
            </div>

            <div class="article_1">
                <a class="article_1__link" href="#">
                    <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                    <span class="article_1__date">23 Февраля 2022, 16:51</span>
                </a>
            </div>

            <div class="article_1">
                <a class="article_1__link" href="#">
                    <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                    <span class="article_1__date">23 Февраля 2022, 16:51</span>
                </a>
            </div>

            <div class="article_1">
                <a class="article_1__link" href="#">
                    <span class="article_1__title">Изменения в графике работы Центрального офиса Компании</span>
                    <span class="article_1__date">23 Февраля 2022, 16:51</span>
                </a>
            </div>
        </div>

        <div class="articles-columns__articles-list">
            <h3>Магазины</h3>

            <a class="article_2" href="#">
                <span class="article_2__image">
                    <img src="images/content/articles/img_3.jpg" alt="">
                </span>
                <span class="article_2__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_2__date">23 Февраля 2022, 16:51</span>
            </a>

            <a class="article_2" href="#">
                <span class="article_2__image">
                    <img src="images/content/articles/img_3.jpg" alt="">
                </span>
                <span class="article_2__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_2__date">23 Февраля 2022, 16:51</span>
            </a>

            <a class="article_2" href="#">
                <span class="article_2__image">
                    <img src="images/content/articles/img_3.jpg" alt="">
                </span>
                <span class="article_2__title">Изменения в графике работы Центрального офиса Компании</span>
                <span class="article_2__date">23 Февраля 2022, 16:51</span>
            </a>

        </div>
    </div>
</div>