<div class="small-articles">
    <div class="small-articles__title-block">
        <h2><a href="#">Актуальные видеосюжеты</a></h2>

        <div class="js-small-articles-arrows small-articles__arrows"></div>
    </div>

    <div class="js-small-articles-slider small-articles__slider">
        <div class="small-articles__item">
            <div class="small-article">
                <a href="https://www.youtube.com/watch?v=KH1RnTrh9aY" data-fancybox="video">
                    <span class="small-article__image">
                        <img src="images/content/articles/img_2.jpg" alt="">
                        <span class="small-article__play">
                            <svg aria-hidden="true">
                                <use xlink:href="#play" />
                            </svg>
                        </span>
                    </span>
                    <span class="small-article__title">Очень интересный видеосюжет</span>
                </a>
            </div>
        </div>

        <div class="small-articles__item">
            <div class="small-article">
                <a href="https://www.youtube.com/watch?v=KH1RnTrh9aY" data-fancybox="video_1">
                    <span class="small-article__image">
                        <img src="images/content/articles/img_2.jpg" alt="">
                        <span class="small-article__play">
                            <svg aria-hidden="true">
                                <use xlink:href="#play" />
                            </svg>
                        </span>
                    </span>
                    <span class="small-article__title">В воскресенье One Shop Продукты в Рубцовске отметит годовщину</span>
                </a>
            </div>
        </div>

        <div class="small-articles__item">
            <div class="small-article">
                <a href="https://www.youtube.com/watch?v=KH1RnTrh9aY" data-fancybox="video_1">
                    <span class="small-article__image">
                        <img src="images/content/articles/img_2.jpg" alt="">
                        <span class="small-article__play">
                            <svg aria-hidden="true">
                                <use xlink:href="#play" />
                            </svg>
                        </span>
                    </span>
                    <span class="small-article__title">Очень интересный видеосюжет</span>
                </a>
            </div>
        </div>

        <div class="small-articles__item">
            <div class="small-article">
                <a href="https://www.youtube.com/watch?v=KH1RnTrh9aY" data-fancybox="video_1">
                    <span class="small-article__image">
                        <img src="images/content/articles/img_2.jpg" alt="">
                        <span class="small-article__play">
                            <svg aria-hidden="true">
                                <use xlink:href="#play" />
                            </svg>
                        </span>
                    </span>
                    <span class="small-article__title">Очень интересный видеосюжет</span>
                </a>
            </div>
        </div>

        <div class="small-articles__item">
            <div class="small-article">
                <a href="https://www.youtube.com/watch?v=KH1RnTrh9aY" data-fancybox="video_1">
                    <span class="small-article__image">
                        <img src="images/content/articles/img_2.jpg" alt="">
                        <span class="small-article__play">
                            <svg aria-hidden="true">
                                <use xlink:href="#play" />
                            </svg>
                        </span>
                    </span>
                    <span class="small-article__title">Очень интересный видеосюжет</span>
                </a>
            </div>
        </div>

        <div class="small-articles__item">
            <div class="small-article">
                <a href="https://www.youtube.com/watch?v=KH1RnTrh9aY" data-fancybox="video_1">
                    <span class="small-article__image">
                        <img src="images/content/articles/img_2.jpg" alt="">
                        <span class="small-article__play">
                            <svg aria-hidden="true">
                                <use xlink:href="#play" />
                            </svg>
                        </span>
                    </span>
                    <span class="small-article__title">Очень интересный видеосюжет</span>
                </a>
            </div>
        </div>
    </div>
</div>