.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    background-color: $main-color;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;

    &:not(.is-active) {
        &:hover {
            background-color: darken($main-color, 5%);
        }
    }

    &.is-active {
        background-color: #AC9233;
    }
}